@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

/* Reset inicial */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Blocos formatados */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #f4f4f4;
}

header {
	background: #f8e1f587;
	color: #664d48;
	padding: 100px 120px 20px;
	line-height: 1.2;
	text-align: center; /* Centraliza o conteúdo dentro do header */
	position: relative;
}

main {
	background: #ffffff;
	padding: 100px 80px 20px;
	color: #664d48;
	font-size: 2.0em;
}

footer {
	text-align: center;
	padding: 10px;
	background: #664d48;
	color: white;
	font-size: 1.0em;
}

/* Títulos ajustados */
header h1 {
	font-size: 10em;
	font-family: Meow Script, cursive;
	transform: rotate(-15deg);
	display: inline-block;
	margin: 0;
	line-height: 1.0;
	color: #fff;
}

header h2 {
	font-size: 6em;
	line-height: 1.0;
	color: #664d48;
	margin-top: 20px; /* Ajuste o espaço entre os títulos */
}

header h3 {
	font-size: 4.0em;
	line-height: 1.0;
	color: #664d48;
	margin-top: 20px;
}

header h4 {
	font-size: 3.0em;
	font-family: Meow Script, cursive;
	transform: rotate(-15deg);
	display: inline-block;
	margin: 0;
	line-height: 1.0;
	color: #fff;
}

/* Botões */
.btn1 {
	background-color: #f8e1f587;
	color: black;
	padding: 20px 10px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 30px;
	cursor: pointer;
	border: solid;
	border-radius: 5px;
	border-width: 0.5px;
}

.btn1:hover {
	background-color: #664d48;
	color: white;
}

/* Links */
a {
	color: #664d48;
	text-decoration: none;
}

a:hover {
	color: #ef6fcf;
}

img {
	width: 800px;
	height: auto;
}
