@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

/*Reset inicial*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #F4F4F4;
}

header {
  background: #F8E1F587;
  padding: 100px 120px 20px;
  color: #664d48;
  line-height: 1.2;
  position: relative;
}

main {
  background: #FFFFFF;
  padding: 100px 80px 20px;
  color: #664D48;
  font-size: 2.0em;
}

footer {
  background: #664D48;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.0em;
}

/*Títulos Ajustados*/
header h1 {
  font-family: Meow Script, cursive;
  font-size 15.0em;
  transform> rotate(-15deg);
  margin: 0;
  line-height: 1.0;
  color: #FFF;
  position: relative;
  z-index: 1; /*Garante que o h1 fique acima dos outros elementos */
}
